Source: yaru-mate
Section: x11
Priority: optional
Maintainer: Klein Kravis (hydromalis) <kleinkravis@outlook.com>
Build-Depends: debhelper (>= 11), ubuntu-mate-artwork
Standards-Version: 4.1.3
Homepage: https://yaru-mate.weebly.com
Vcs-Git: https://github.com/hydromalis/yaru-mate.git
Vcs-Browser: https://github.com/hydromalis/yaru-mate.git
Description: The Ubuntu Yaru theme rebuilt for Ubuntu MATE. Derivived from Yaru-Colours